/** Add css rules here for your application. */

.masterContainer {
	width: 100%;
}

.topBar {
	float: right;
	width: 100%;
	font-size: 8pt;
}

.topBarNotifications {
	float: left;
}

.topBarUserName {
	float: right;
}

.topBarSeparator {
	margin: 0px 10px;
}

.topBarLogOut {
	float: right;
}


.menuBar {
	margin: auto;
	border: 1px solid red;
	background-color: green;
	width: 80%;
}

.menuBar td {
	width: 20%;
	padding: 8px 20px;
}

.menuBar .gwt-Button {
	width: 100%;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
 	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
  	border-radius: 8px;
}

.mainDeck {
	margin: 8px auto;
	width: 80%;
}

.actionBar .gwt-Button {
	width: 100%;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
 	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.eventActionBar .gwt-Button {
	color: red;
}

.eventRoll {
	width: 80%;
}

.eventListing {
	border-bottom: 1px solid grey;
	padding: 20px;
}

.eventListingAnchor {
	font-size: 1.1em;
	font-weight: bold;
	color: blue;
	background-color: #CCC;
}

.eventPage {
	width: 80%;
	padding: 20px;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
