/** Add css rules here for your application. */

.masterContainer {
	width: 100%;
}

.topBar {
	float: right;
	width: 100%;
	font-size: 8pt;
}

.topBarNotifications {
	float: left;
}

.topBarUserName {
	float: right;
}

.topBarSeparator {
	margin: 0px 10px;
}

.topBarLogOut {
	float: right;
}


.menuBar {
	margin: auto;
	border: 1px solid red;
	background-color: green;
}

.menuBar td {
	padding: 8px 20px;
}

.menuBarButton {	
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
 	 box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
  	border-radius: 8px;
}

.eventRoll {
	
}

.eventListing {
	border-bottom: 1px solid black;
}

.eventListingAnchor {
	background-color: #CCC;
}

.eventPage {
	
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
