<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Security constraints -->
  <security-constraint>
      <web-resource-collection>
          <url-pattern>/</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>*</role-name>
      </auth-constraint>
  </security-constraint>  
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>eventServlet</servlet-name>
    <servlet-class>stuffplotter.server.EventServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>eventServlet</servlet-name>
    <url-pattern>/leviathan/events</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>accountServlet</servlet-name>
    <servlet-class>stuffplotter.server.AccountServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>accountServlet</servlet-name>
    <url-pattern>/leviathan/account</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>accountStatsServlet</servlet-name>
    <servlet-class>stuffplotter.server.AccountStatsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>accountStatsServlet</servlet-name>
    <url-pattern>/leviathan/astats</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Leviathan.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>